<mat-toolbar>
  <mat-toolbar-row>
    <h1>BoostIQ</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> HOME </a>
      <a mat-button [routerLink]="'/learn'"> LEARN </a>
      <a mat-button [routerLink]="'/play'"> PLAY </a>
      <a mat-button [routerLink]="'/leaderboard'"> LEADERBOARD </a>
      <a mat-button [routerLink]="'/about-us'"> ABOUT US </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>
<h1> Categories </h1>
<br><br>

<div *ngFor="let category of categories">
  <!-- exemplu learn/1 -->
  <a href="learn/{{category.categoryEntityId}}"> 
    <div>
      <p>{{category.name}}</p>
    </div>
  </a>
  <div>
</div>