<mat-toolbar>
  <mat-toolbar-row>
    <h1>
      <a href="#"
        ><img src="https://i.ibb.co/s5Pb5R2/Vanilla-1s-280px-4.gif"
      /></a>
    </h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> HOME </a>
      <a mat-button [routerLink]="'/learn'"> LEARN </a>
      <a mat-button [routerLink]="'/play'"> PLAY </a>
      <a mat-button [routerLink]="'/leaderboard'"> LEADERBOARD </a>
      <a mat-button [routerLink]="'/about-us'"> ABOUT US </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<!-- pagina cu textul -->
<div *ngIf="textDisplayed">
  <div *ngIf="testLevel">
    <h1>Play</h1>
    <br /><br />

    <img src="{{ testLevel.image }}" alt="" />
    <br /><br /><br />
    <div class="w3-container"></div>
  </div>
  <button type="button" class="btn btn-dark" (click)="goToQuestions()">
    START</button
  ><br />
</div>

<!-- pagina cu intrebarile -->
<div class="w1-container" >
  <div *ngIf="questionsDisplayed">
    <div *ngIf="question">
      <br />
      <h2>{{ question.text }}</h2>
      <br /><br />

      <div
        class="intrebari"
        *ngFor="let answer of question.testQuestionAnswers"
      >
        <button
          type="button"
          class="btn btn-dark"
          [id]="'answer' + answer.testQuestionAnswerEntityId"
          (click)="selectAnswer(answer.testQuestionAnswerEntityId)"
        >
          {{ answer.text }}
        </button>
      </div>

      <br /><br />
      <div *ngIf="questionOrder > 1">
        &nbsp;&nbsp;&nbsp;<button
          type="button"
          class="btn btn-dark"
          (click)="previousQuestion()"
          style="border-radius: 2%;"
        >
          Intrebarea anterioara
        </button>
      </div>
      <br />
      <div *ngIf="questionOrder < testLevel.testQuestions.length">
        <button
          type="button"
          class="btn btn-dark"
          (click)="nextQuestion()"
          style="border-radius: 2%;"
        >
          Urmatoarea intrebare
        </button>
      </div>
      <div *ngIf="questionOrder == testLevel.testQuestions.length">
        <button type="button" class="btn btn-dark" (click)="finish()" style="border-radius: 2%;">
          Finish
        </button>
      </div>
    </div>
  </div>
</div>

<!-- pagina cu rezultatele -->
<div *ngIf="resultDisplayed">
    <h2>Ai terminat testul</h2>
    <h2>Scorul tau este: {{ scores }}% </h2>

    <button type="button" class="btn btn-dark" [routerLink]="'/play'">
      Inapoi la categorii!
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <button type="button" class="btn btn-dark" (click)="reloadPage()">
      Mai incearca odata!
    </button>
</div>

<!-- pagina unde ii spuneam utilizatorului ca a terminat toate levele pt aceasta categorie -->
<div *ngIf="finishedAllLevels">
  <h2>Ai finalizat toate nivelele pentru aceasta categorie!</h2>
</div>

<style>
  .menu-spacer {
    margin: 20px;
  }

  .w3-container {
    font-size: 24px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 300%;
  }

  .intrebari {
    border-radius: 20px;
    padding: 10px;
  }

  .intrebari p {
    font-size: 45px;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  h1 img {
    width: 63%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    font-size: 30px;
    border-radius: 50%;
  }

  @media screen and (min-width: 1500px) {
    a {
      font-size: 100%;
      justify-content: center;
      border-radius: 20% 20% 20% 20%;
      border: none;
      padding: 4% 29%;
      text-decoration: none;
    }
  }
</style>
