<body style="background-color: rgb(255, 153, 0)">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1>
        <a href="#"><img src="https://i.ibb.co/s5Pb5R2/Vanilla-1s-280px-4.gif"/></a>
      </h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'"> HOME </a>
        <a mat-button [routerLink]="'/learn'"> LEARN </a>
        <a mat-button [routerLink]="'/play'"> PLAY </a>
        <a mat-button [routerLink]="'/leaderboard'"> LEADERBOARD </a>
        <a mat-button [routerLink]="'/about-us'"> ABOUT US </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br />
  <h2>Categorii</h2>
  <br />

  <p>Selecteaza categoria din care vrei sa dai test</p>

  <div *ngFor="let category of categories">
    <!-- exemplu learn/1 -->
    <a href="play/{{ category.categoryEntityId }}">
      <div>
        <button type="button" class="btn btn-dark">{{ category.name }}</button
        ><br />
        <!-- <p>{{category.name}}</p> -->
      </div>
    </a>
    <div></div>
  </div>
</body>

<style>
  .menu-spacer {
    margin: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h1 img {
    width: 63%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 50px;
    text-align: center;
  }

  p {
    font-size: 40px;
    text-align: center;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    font-size: 30px;
  }

  a {
    text-decoration: none;
  }

  @media screen and (min-width: 1500px) {
    a {
      font-size: 100%;
      justify-content: center;
      border-radius: 20% 20% 20% 20%;
      border: none;
      padding: 4% 27%;
      font-family: "Times New Roman", Times, serif;
    }
  }
</style>
